:root {
	--bg-main: hsl(217, 54%, 11%);
	--bg-card: hsl(216, 50%, 16%);
	--colour-blue: hsl(215, 51%, 70%);
	--colour-cyan: hsl(178, 100%, 50%);
	--colour-white: hsl(0, 0%, 100%);
	--line-colour: hsl(215, 32%, 27%);
	--clr-neon: hsl(317 100% 54%);
	--clr-bg: hsl(323 21% 16%);
	--clr-p: #400c60;
}

/* CSS Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Project Styles */
body {
	background-color: var(--bg-main);
	font-family: "Trirong", sans-serif;
	font-size: 10px;
	color: var(--colour-blue);
	line-height: 1.4;
}

.tit {
	font-family: "Audiowide";
	padding: 0 0 4px 40px;
}

.h4 {
	font-size: 1rem;
}

.pad {
	padding: 0 0 4px 4px;
}

.myButton {
	margin: 7px 0px 8px 2px;
	padding: 6px;
    height: auto;
    width: auto;
    cursor: pointer;
    font-family: "Audiowide";
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-blue) 3px solid;
    background-color: transparent;
    border-radius: 0.40em;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
    transition: all 0.5s
}
.myButton:hover {
    background-color: var(--clr-neon);
    color: #fff
}

#inputCuadrado {
	margin: 4px;
	border-radius: 4px;
	border: 1.16px solid cyan;
}

.inputCyan {
	margin: 4px;
	border-radius: 4px;
	border: 1.16px solid cyan;
}

.inputWhite {
	margin: 4px;
	border-radius: 4px;
	border: 1.16px solid purple;
}


.inputBox {
	/* border: 2px solid red; */
	margin: 4px;
	width: 8rem;
	border-radius: 4px;
	border: 1.16px solid var(--line-colour);
}

.container {
	height: 100vh;
	justify-content: center;
	align-items: center;
}

/* Card */
.main-card {
	background-color: var(--bg-card);
	width: min(90%, 340px);
	border-radius: 15px;
	margin-left: 0.18rem;
	padding: 1.2rem;
	box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
}

/* Main Image */
.image-container {
	position: relative;
	margin: 0 auto;
	width: 100%;
	max-width: 300px;
}

.main-image {
	display: block;
	max-width: 300px;
	width: 100%;
	height: auto;
	border-radius: 10px;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	background-color: var(--colour-cyan);
	border-radius: 10px;
}

.view {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	display: none;
}

.image-container:hover .overlay {
	opacity: 0.5;
	cursor: pointer;
}

.image-container:hover .overlay + .view {
	display: block;
}

/* Main Content */
.title {
	color: var(--colour-white);
	/* margin: 1rem 0; */
}

.description {
	margin-bottom: 1rem;
}

.eth-info {
	display: flex;
	justify-content: space-between;
	margin: 1rem 0;
}

.eth {
	color: var(--colour-cyan);
	font-weight: 600;
}

.info {
	display: flex;
	align-items: center;
	border-bottom: 2px solid var(--line-colour);
}

/*	┌─┐┌─┐┬─┐┌┬┐┌─┐  ┌─┐┬ ┬┌─┐┌┬┐┬─┐┌─┐┌┬┐┌─┐
	├┤ │ │├┬┘│││└─┐  │  │ │├─┤ ││├┬┘├─┤ │││ │
	└  └─┘┴└─┴ ┴└─┘  └─┘└─┘┴ ┴─┴┘┴└─┴ ┴─┴┘└─┘ */
.cuadrado {
	border: 2px solid var(--line-colour));
}

.icon {
	margin-right: 0.5rem;
}

/* Creator Info */
.creator-info {
	display: flex;
	border-top: 2px solid var(--line-colour);
	padding-top: 1rem;
	align-items: center;
}

.avatar {
	border: 1px solid var(--colour-white);
	border-radius: 50%;
	width: 40px;
	height: auto;
	margin-right: 1.25rem;
}

.creator-text {
	font-weight: 400;
}

.creator-name {
	color: var(--colour-white);
}

.title:hover,
.creator-name:hover {
	color: var(--colour-cyan);
	cursor: pointer;
}

/* Footer Section */
.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: var(--colour-white);
	text-decoration: none;
}

.attribution a:hover {
	color: var(--colour-cyan);
}

/* Media Queries */
@media screen and (max-width: 300px) {
	.eth-info {
		flex-direction: column;
	}
}
